<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sf="http://www.springframework.org/tags/faces"
    xmlns:isy="http://java.sun.com/jsf/composite/isyfact"
    xmlns:debug="http://java.sun.com/jsf/composite/debug"
    template="/WEB-INF/gui/common/layout/applikation.xhtml">
    
    <ui:define name="inhaltsbereich">
        <ui:include src="druckansichtInhaltsbereich.xhtml" />
    </ui:define>

    <ui:define name="printMetaInformation">
        <isy:printMetaInformation>
            <f:attribute name="warning"
                value="Warnung: Sie wollen die Seite drucken, obwohl sie nicht die Druckansicht aufgerufen haben. Es könnten Elemente auf der Seite fehlen.">
            </f:attribute>

            <h:outputText value="#{session.lastAccessedTime}">
                <f:convertDateTime pattern="dd.MM.yyyy HH:mm" type="date" />
            </h:outputText>
        </isy:printMetaInformation>
    </ui:define>
</ui:composition>
