<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:isy="http://java.sun.com/jsf/composite/isyfact"
				template="/WEB-INF/gui/common/layout/applikation.xhtml">

	<ui:define name="inhaltsbereich">
		<div class="form-horizontal">
			<div class="row">
				<div class="col-lg-12">
					<div class="row row-df">
						<h1>4 Augen Prinzip Test</h1>
					</div>

					<div class="row row-df">
						<h2>isy:formInput</h2>
					</div>
					<div class="col-lg-12">
						<div class="row row-df">
							<isy:formInputWithFourEyes reference="formInput"
								label="formInput mit fourEyesMode=unlocked" maxlength="50"
								value="12" readonly="false" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert" />
							<isy:formInputWithFourEyes label="formInput mit fourEyesMode=locked readonly"
								reference="formInput" maxlength="50" value="12" readonly="true"
								fourEyesMode="locked" fourEyesLastValue="letzter Wert" />
							<isy:formInput reference="fehler" label="formInput Fehler"
								maxlength="50" value="12" readonly="false" />
							<isy:formInputWithFourEyes label="formInput mit fourEyesMode=locked Fehler"
								reference="fehler" maxlength="50" value="12" readonly="false"
								fourEyesMode="locked" fourEyesLastValue="letzter Wert" />
						</div>
					</div>

					<div class="row row-df">
						<h2>isy:formActionInput</h2>
					</div>
					<div class="col-lg-12">
						<div class="row row-df">
							<isy:formActionInput reference="formActionInput"
								label="formActionInput mit Icon" maxlength="50" value="12"
								readonly="false" icon="star" action="none" iconColor="grey"
								tooltip="Tooltip 1" />
							<isy:formActionInputWithFourEyes icon="star" reference="formActionInput"
								label="formActionInput mit fourEyesMode=unlocked" maxlength="50"
								value="12" readonly="false" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert" />
							<isy:formActionInputWithFourEyes icon="star"
								label="formActionInput mit fourEyesMode=locked readonly"
								reference="formActionInput" maxlength="50" value="12"
								readonly="true" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert" />
							<isy:formActionInput icon="star" reference="fehler"
								label="formActionInput Fehler" maxlength="50" value="12"
								readonly="false" />
							<isy:formActionInputWithFourEyes icon="star"
								label="formActionInput mit fourEyesMode=locked Fehler"
								reference="fehler" maxlength="50" value="12" readonly="false"
								fourEyesMode="locked" fourEyesLastValue="letzter Wert" />
							<isy:formActionInputWithFourEyes
								label="formActionInput - Suchfeld mit fourEyesMode=unlocked"
								value="" icon="search" reference="formActionInput.Suchfeld"
								tooltip="Tooltip 1" mode="button-only" readonly="false"
								action="formActionInput_Suchfeld" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert" />
							<isy:formActionInputWithFourEyes
								label="formActionInput - Suchfeld mit fourEyesMode=locked readonly"
								value="" icon="search" reference="formActionInput.Suchfeld"
								tooltip="Tooltip 1" mode="button-only" readonly="true"
								action="formActionInput_Suchfeld" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert" />
							<isy:formActionInput
								label="formActionInput - Suchfeld mit  Fehler" value=""
								icon="search" reference="fehler" tooltip="Tooltip 1"
								mode="button-only" readonly="false"
								action="formActionInput_Suchfeld" />
							<isy:formActionInputWithFourEyes
								label="formActionInput - Suchfeld mit fourEyesMode=locked Fehler"
								value="" icon="search" reference="fehler" tooltip="Tooltip 1"
								mode="button-only" readonly="false"
								action="formActionInput_Suchfeld" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert" />
						</div>
					</div>

					<div class="row row-df">
						<h2>isy:formDate</h2>
					</div>
					<div class="col-lg-12">
						<div class="row row-df">
							<isy:formDate reference="formDate" label="formDate normal"
								value="" readonly="#{false}"
								placeholder="#{msg.MEL_Components_formDate_Datum_Placeholder}" />
							<isy:formDateWithFourEyes reference="formDate"
								label="formDate mit fourEyesMode=unlocked" value=""
								readonly="#{false}" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert"
								placeholder="#{msg.MEL_Components_formDate_Datum_Placeholder}" />
							<isy:formDateWithFourEyes reference="formDate"
								label="formDate mit fourEyesMode=unlocked readonly"
								value="25.12.2015" readonly="true" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert"
								placeholder="#{msg.MEL_Components_formDate_Datum_Placeholder}" />
							<isy:formDateWithFourEyes reference="formDate"
								label="formDate mit fourEyesMode=locked readonly"
								value="25.12.2015" readonly="true" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert"
								placeholder="#{msg.MEL_Components_formDate_Datum_Placeholder}" />
							<isy:formDate reference="fehler" label="formDate normal Fehler"
								value="" readonly="false"
								placeholder="#{msg.MEL_Components_formDate_Datum_Placeholder}" />
							<isy:formDateWithFourEyes reference="fehler"
								label="formDate mit fourEyesMode=locked Fehler"
								value="25.12.2015" readonly="false" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert"
								placeholder="#{msg.MEL_Components_formDate_Datum_Placeholder}" />

						</div>
					</div>

					<div class="row row-df">
						<h2>isy:formCheckbox</h2>
					</div>
					<div class="col-lg-12">
						<div class="row row-df">
							<isy:formCheckbox reference="formCheckbox_1" value=""
								label="formCheckbox normal" disabled="false" />
							<isy:formCheckboxWithFourEyes reference="formCheckbox_2"
								fourEyesMode="unlocked" fourEyesLastValue="letzter Wert"
								value="" label="formCheckbox mit fourEyesMode=unlocked"
								disabled="false" />
							<isy:formCheckboxWithFourEyes reference="formCheckbox_2"
								fourEyesMode="unlocked" fourEyesLastValue="letzter Wert"
								value="" label="formCheckbox mit fourEyesMode=unlocked readonly"
								disabled="true" />
							<isy:formCheckboxWithFourEyes reference="formCheckbox_2"
								fourEyesMode="locked" fourEyesLastValue="letzter Wert" value=""
								label="formCheckbox mit fourEyesMode=locked readonly"
								disabled="true" />
							<isy:formCheckbox reference="fehler" value=""
								label="formCheckbox normal Fehler" disabled="false" />
							<isy:formCheckboxWithFourEyes reference="fehler" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert" value=""
								label="formCheckbox mit fourEyesMode=locked Fehler"
								disabled="false" />
						</div>
					</div>

					<div class="row row-df">
					<h2>isy:formCurrencyInput</h2>
				</div>
					<div class="col-lg-12">
						<div class="row row-df">
							<isy:formCurrencyInput label="formCurrencyInput normal"
								required="false" placeholder="24,00" value="" readonly="false"
								reference="formCurrencyInput" onblur="formatAmountOfMoney(this)" />
							<isy:formCurrencyInputWithFourEyes
								label="formCurrencyInput mit fourEyesMode=unlocked"
								placeholder="24,00" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert" value="" readonly="false"
								reference="formCurrencyInput" onblur="formatAmountOfMoney(this)" />
							<isy:formCurrencyInputWithFourEyes
								label="formCurrencyInput mit fourEyesMode=unlocked readonly"
								placeholder="24,00" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert" value="36,00" readonly="true"
								reference="formCurrencyInput" onblur="formatAmountOfMoney(this)" />
							<isy:formCurrencyInputWithFourEyes
								label="formCurrencyInput mit fourEyesMode=locked readonly"
								placeholder="24,00" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert" value="36,00" readonly="true"
								reference="formCurrencyInput" onblur="formatAmountOfMoney(this)" />
							<isy:formCurrencyInput label="formCurrencyInput normal Fehler"
								required="false" placeholder="24,00" value="" readonly="false"
								reference="fehler" onblur="formatAmountOfMoney(this)" />
							<isy:formCurrencyInputWithFourEyes
								label="formCurrencyInput mit fourEyesMode=locked Fehler"
								placeholder="24,00" fourEyesMode="locked"
								fourEyesLastValue="letzter Wert" value="36,00" readonly="false"
								reference="fehler" onblur="formatAmountOfMoney(this)" />
						</div>
					</div>

					<div class="row row-df">
						<h2>isy:formSelectOneDropdown</h2>
					</div>
					<div class="col-lg-12">
						<div class="row row-df">
							<isy:formSelectOneDropdown id="formSelectOneDropdown"
								label="formSelectOneDropdown normal"
								reference="formSelectOneDropdown" readonly="false" value="">
								<f:selectItem itemvalue="" itemLabel="&nbsp; " />
								<f:selectItems value="#{dropdownHelper.anredeListe}" />
							</isy:formSelectOneDropdown>
							<isy:formSelectOneDropdownWithFourEyes id="formSelectOneDropdown1"
								label="formSelectOneDropdown mit fourEyesMode=unlocked"
								reference="formSelectOneDropdown" readonly="false" value=""
								fourEyesMode="unlocked" fourEyesLastValue="letzter Wert">
								<f:selectItem itemvalue="" itemLabel="&nbsp; " />
								<f:selectItems value="#{dropdownHelper.anredeListe}" />
							</isy:formSelectOneDropdownWithFourEyes>
							<isy:formSelectOneDropdownWithFourEyes id="formSelectOneDropdown2"
								label="formSelectOneDropdown mit fourEyesMode=unlocked readonly"
								reference="formSelectOneDropdown" readonly="true" value=""
								fourEyesMode="unlocked" fourEyesLastValue="letzter Wert">
								<f:selectItem itemvalue="" itemLabel="&nbsp; " />
								<f:selectItems value="#{dropdownHelper.anredeListe}" />
							</isy:formSelectOneDropdownWithFourEyes>
							<isy:formSelectOneDropdownWithFourEyes id="formSelectOneDropdown3"
								label="formSelectOneDropdown mit fourEyesMode=locked readonly"
								reference="formSelectOneDropdown" readonly="true" value=""
								fourEyesMode="locked" fourEyesLastValue="letzter Wert">
								<f:selectItem itemvalue="" itemLabel="&nbsp; " />
								<f:selectItems value="#{dropdownHelper.anredeListe}" />
							</isy:formSelectOneDropdownWithFourEyes>
							<isy:formSelectOneDropdown id="formSelectOneDropdown4"
								label="formSelectOneDropdown normal Fehler" reference="fehler"
								readonly="false" value="">
								<f:selectItem itemvalue="" itemLabel="&nbsp; " />
								<f:selectItems value="#{dropdownHelper.anredeListe}" />
							</isy:formSelectOneDropdown>
							<isy:formSelectOneDropdownWithFourEyes id="formSelectOneDropdown5"
								label="formSelectOneDropdown mit fourEyesMode=locked Fehler"
								reference="fehler" readonly="false" value=""
								fourEyesMode="locked" fourEyesLastValue="letzter Wert">
								<f:selectItem itemvalue="" itemLabel="&nbsp; " />
								<f:selectItems value="#{dropdownHelper.anredeListe}" />
							</isy:formSelectOneDropdownWithFourEyes>
						</div>
					</div>


					<div class="row row-df">
						<h2>isy:formTextarea</h2>
					</div>
					<div class="col-lg-12">
						<div class="row row-df">
							<isy:formTextarea id="formTextarea1" label="formTextarea normal"
								reference="formTextarea1" readonly="false" value=""
								fourEyesLastValue="letzter Wert" />
							<isy:formTextareaWithFourEyes id="formTextarea2"
								label="formTextarea mit  grey normal" reference="formTextarea2"
								readonly="false" value="" fourEyesMode="unlocked"
								fourEyesLastValue="letzter Wert" />
							<isy:formTextareaWithFourEyes id="formTextarea3"
								label="formTextarea mit fourEyesMode=unlocked readonly"
								reference="formTextarea3" readonly="true" value=""
								fourEyesMode="unlocked" fourEyesLastValue="letzter Wert" />
							<isy:formTextareaWithFourEyes id="formTextarea4"
								label="formTextarea mit fourEyesMode=locked readonly"
								reference="formTextarea4" readonly="true" value=""
								fourEyesMode="locked" fourEyesLastValue="letzter Wert" />
							<isy:formTextarea id="formTextarea5"
								label="formTextarea normal Fehler" reference="fehler"
								readonly="false" value="" fourEyesLastValue="letzter Wert" />
							<isy:formTextareaWithFourEyes id="formTextarea6"
								label="formTextarea mit fourEyesMode=locked Fehler"
								reference="fehler" readonly="false" value=""
								fourEyesMode="locked" fourEyesLastValue="letzter Wert" />
						</div>
					</div>

					<div class="col-lg-12">
						<div class="row row-df">
							<isy:buttonRow alignRight="true">
								<isy:button buttonColor="#ff0000" value="button" action="aaa" />
							</isy:buttonRow>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
