<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sf="http://www.springframework.org/tags/faces"
	xmlns:isy="http://java.sun.com/jsf/composite/isyfact"
	xmlns:debug="http://java.sun.com/jsf/composite/debug"
	template="/WEB-INF/gui/common/layout/applikation.xhtml">

	<ui:define name="inhaltsbereich">
        Item mit ID <h:outputText
			value="#{jsfSteuerelementeModel.trefferlistenServerModel != null ? jsfSteuerelementeModel.trefferlistenServerModel.doubleClickSelectedItem : jsfSteuerelementeModel.trefferlistenClientModel.doubleClickSelectedItem}" /> ausgewählt.
    </ui:define>
</ui:composition>
